.dx-alert {
  max-width: 27.37rem;
  position: relative;
  border-width: 2px;
  border-style: solid;
  z-index: 200;
}

.dx-alert__wrapper {

}

.dx-alert__closeable {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}



@include themeGlobal(dx-alert) using($material) {


  .dx-alert__content {
    color: map-deep-get($material, 'colors', 'darken3') !important;
  }

  @each $name, $color in map-get($material, 'alerts') {
    @debug dx-type__#{$name};

    &.dx-type__#{$name} {
      color: $color;
      background-color: transparentize($color, .8) !important;
      border-color: $color !important;
    }
  }
}
