
.font-small {
  font-size: rem-calc(14px);
}

.font-regular{
  font-size: rem-calc(16px);
}

.font-large {
  font-size: rem-calc(18px);
}

.font-xlarge {
  font-size: rem-calc(24px);
}

.font-xxlarge {
  font-size: rem-calc(32px);
}

.font-title {
  font-size: rem-calc(20px);
}

.weight-200 {
  font-weight: 200 !important;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.font-icons-regular {
  font-size: rem-calc(24px);
}

.text-underline {
  text-decoration: underline !important; /* stylelint-disable-line */
}
