@include theme(v-expansion-panels) using ($material) {
  .v-expansion-panel-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  .v-expansion-panel-header--active {
    outline: map-get($material, 'outline');
  }

  .active-collapse-item {
    border-bottom: 1.25px solid #3F87D0 !important;

    button {
      border-bottom: 1.25px solid #3F87D0;
    }
  }

  .v-expansion-panel {
    border-bottom: 1.25px solid #979797;
  }
}

