// Buttons
$btn-border-radius: 0px;
$btn-hover-opacity: 0;

$font-size-root: 16px;
$body-font-family: "Roboto", sans-serif;
$heading-font-family: "Roboto Slab", serif;

$alert-outline: 2px solid currentColor !default;

$headings: (
    'h1': (
        'size': 3.052rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    ),
    'h2': (
        'size': 2.441rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    ),
    'h3': (
        'size': 1.953rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    ),
    'h4': (
        'size': 1.563rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    )
);

//$btn-border-radius: $border-radius-root;
