// Buttons
$btn-border-radius: 0px;
$btn-hover-opacity: 0;

$font-size-root: 16px;
$body-font-family: "Roboto", sans-serif;
$heading-font-family: "Roboto Slab", serif;

$btn-font-weight: 700;

$alert-outline: 2px solid currentColor !default;

$tooltip-background-color: rgba(map-get($light-colors, 'dark'), 0.9);

$expansion-panel-border-radius: none !default;
$expansion-panel-header-min-height: 80px !default;
$expansion-panel-active-header-min-height: 80px !default;
$expansion-panel-content-padding: 24px 16px !default;

//$tooltip-border-radius: $border-radius-root;
//$tooltip-font-size: 14px !default;
//$tooltip-transition-timing-function: map-get($transition, 'linear-out-slow-in') !default;
//$tooltip-transition-enter-duration: 150ms !default;
//$tooltip-transition-leave-duration: 75ms !default;
//$tooltip-padding: 5px 16px !default;

$headings: (
    'h1': (
        'size': 3.052rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    ),
    'h2': (
        'size': 2.441rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    ),
    'h3': (
        'size': 1.953rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    ),
    'h4': (
        'size': 1.563rem,
        'line-height': 1.45rem,
        'weight': 200,
        'letter-spacing': -.015625em,
        'font-family': $heading-font-family,
        'text-transform': false
    )
);

//$btn-border-radius: $border-radius-root;
