$dark-colors: (
  primary: #ff904c,
  secondary: #019a9a,
  tertiary: #f5ecd2,
  accent: #574838,
  neutral: #111,
  grayA: #b5b5b5,
  grayB: #757575,
  black: #eee,
  white: #000,
  error: #FE6565,
  info: #2196F3,
  success: #4CAF50,
  warning: #FFC107
);
