.v-dialog {
  .v-card {
    border-radius: 0 !important;

    .v-card__title {
      line-height: 29px;
      padding: 15px !important;
    }

    .v-card__text {
      padding: 20px !important;
    }

    .v-card__actions {
      height: 60px;
    }
  }
}
