//@include theme(v-input) using($material) {
//  &.date-picker-input {
//
//  }
//}

@include theme(v-picker) using($material) {
  border: 1px solid map-get($material, 'colors', 'primary');

  .v-date-picker-table {
    button {
      border-radius: 0 !important;
      text-decoration: underline;
    }
  }

  .v-date-picker-header {
    .v-icon {
      font-size: 2.5rem !important;
    }
  }

  .v-date-picker-header__value {
    font-size: rem-calc(18px);
  }
}
